footer
	.container
		.row.footer__row.ai-c.jc-c
			.col-lg-auto.copyright
				p © 2020 by Web4GSolutions.  All rights reserved
			//- .col-lg
			//- 	ul.footer__nav-list.lst-n.d-f.desktop
			//- 		li.nav-item
			//- 			a.nav-link(href='/') Home
			//- 		li.nav-item
			//- 			a.nav-link(href='/about.html') About
			//- 		li.nav-item
			//- 			a.nav-link(href='/our-service.html') Our services
			//- 		li.nav-item
			//- 			a.nav-link(href='/analysis.html') Analysis
			//- 		li.nav-item
			//- 			a.nav-link(href='/contact.html') Contact
			.col-lg-auto.ml-at
				nav.footer__social
					a(href='#')
						img(src='/assets/icons/pinterest.svg')
					a(href='#')
						img(src='/assets/icons/facebook.svg')
					a(href='#')
						img(src='/assets/icons/twitter.svg')