footer
	.container
		.row.footer__row.ai-c.jc-c
			.col-lg-2
				.footer__logo
					a(href="http://web1.web4gsolutions.com/woo-html//")
						img(src="./assets/logo.svg", alt="")
			//- .col-lg
			//- 	ul.footer__nav-list.lst-n.d-f.desktop
			//- 		li.nav-item
			//- 			a.nav-link(href='/') Home
			//- 		li.nav-item
			//- 			a.nav-link(href='/about.html') About
			//- 		li.nav-item
			//- 			a.nav-link(href='/our-service.html') Our services
			//- 		li.nav-item
			//- 			a.nav-link(href='/analysis.html') Analysis
			//- 		li.nav-item
			//- 			a.nav-link(href='/contact.html') Contact
		.row.footer__row.ai-c.jc-c
			.col-lg-auto
				nav.footer__social
					a(href='#')
						img.svg(data-src='./assets/icons/pinterest.svg')
					a(href='#')
						img.svg(data-src='./assets/icons/facebook.svg')
					a(href='#')
						img.svg(data-src='./assets/icons/twitter.svg')