header
	.container
		.row
			//- nav.header__social.mobile
			//- 	a(href='#')
			//- 		img(src='/assets/icons/pinterest.svg')
			//- 	a(href='#')
			//- 		img(src='/assets/icons/facebook.svg')
			//- 	a(href='#')
			//- 		img(src='/assets/icons/twitter.svg')
			.header__logo
				a(href="/")
					img(src="./assets/logo.svg", alt="")
			.header__main-nav
				.header__close-menu.active
				.header__search
					input.search__input(placeholder="Tìm kiếm..." type="text")
					button.search__button.btn.fcc
						img(src="./assets/icons/magnify.svg")
				ul.header__nav-list.lst-n.d-f
					li.nav-item
						a.nav-link(href="/") Home
					li.nav-item
						a.nav-link(href="/about.html") About
					li.nav-item
						a.nav-link(href="/our-service.html") Our services
					li.nav-item
						a.nav-link(href="/analysis.html") Analysis
					li.nav-item
						a.nav-link(href="/contact.html") Contact
			.header__toggle-menu