header
	.container
		.row
			//- nav.header__social.mobile
			//- 	a(href='#')
			//- 		img.svg(data-src='./assets/icons/pinterest.svg')
			//- 	a(href='#')
			//- 		img.svg(data-src='./assets/icons/facebook.svg')
			//- 	a(href='#')
			//- 		img.svg(data-src='./assets/icons/twitter.svg')
			.header__logo
				a(href="http://web1.web4gsolutions.com/woo-html/")
					img(src="./assets/logo.svg", alt="")
			.header__main-nav
				.header__close-menu.active
				.header__search
					input.search__input(placeholder="Tìm kiếm..." type="text")
					button.search__button.btn.fcc
						img(src="./assets/icons/magnify.svg")
				ul.header__nav-list.lst-n.d-f
					li.nav-item
						a.nav-link(href='http://web1.web4gsolutions.com/woo-html/') Home
					li.nav-item
						a.nav-link(href='http://web1.web4gsolutions.com/woo-html/about.html') About
					li.nav-item
						a.nav-link(href='http://web1.web4gsolutions.com/woo-html/our-service.html') Our services
					li.nav-item
						a.nav-link(href='http://web1.web4gsolutions.com/woo-html/analysis.html') Analysis
					li.nav-item
						a.nav-link(href='http://web1.web4gsolutions.com/woo-html/contact.html') Contact
			.header__toggle-menu