header
	.container
		.main-nav
			ul.nav-list
				li.nav-item
					a.nav-link(href="#") Home
				li.nav-item
					a.nav-link(href="#") About
				li.nav-item
					a.nav-link(href="#") Our services
				li.nav-item
					a.nav-link(href="#") Research
				li.nav-item
					a.nav-link(href="#") Contact
				li.nav-item
					a.nav-link(href="#") Search