.about-1 {
	background-color: rgba(map-get($mau, main), 0.5);
	height: 40vh;

	.container,
	.row {
		height: 100%;
	}

	.section-title {
		color: white;
		h2 {
			padding-right: 0;
			&:before {
				top: 0%;
				right: -20px;
				transform: translateY(-100%);
				background-image: url(../assets/icons/arrow-title-w.svg);
			}
		}
	}

	.content {
		position: relative;
		display: flex;
		align-items: center;
	}
	.img {
		-ms-flex: 0 0 100%;
		-webkit-box-flex: 0;
		flex: 0 0 120px;
		max-width: 120px;
		width: 100%;
		img {
			width: 100%;
		}
	}
}

@media (min-width: 576px) {
	.about-1 {
		.img {
			max-width: 190px;
		}
	}
}

@media (min-width: 1025px) {
	.about-1 {
		height: 100vh;

		.content {
			margin-right: -15%;
			display: block;
			margin-top: 10%;
		}

		.img {
			position: absolute;
			top: -44%;
			left: -30%;
			max-width: 260px;
		}
		.text {
			display: flex;
			flex-direction: column;
		}
		.section-description {
			margin-left: auto;
		}
	}
}

@media (min-width: 1440px) {
	.about-1 {
		.img {
			max-width: 330px;
		}
	}
}

@media (min-width: 1600px) {
	.about-1 {
		.img {
			max-width: 400px;
		}
	}
}
