.ab2__img {
	max-width: 210px;
	margin: 0 auto;
	margin-bottom: 25px;
	img {
		max-width: 650px;
		width: 100%;
	}
}

.ab2__item {
	.item__title {
		color: map-get($mau, main);
		font-size: 18px;
	}
	.item__description {
		color: #707070;
		font-size: 14px;
	}
	+ .ab2__item {
		margin-top: 20px;
	}
}

.ab2__title {
	justify-content: center;
	z-index: 2;
	h2 {
		color: map-get($mau, main);
		padding-right: 0;
		br {
			display: none;
		}
		&:before {
			content: none;
		}
	}
}
@media (min-width: 576px) {
	.ab2__item {
		text-align: center;
		.item__title {
			font-size: 21px;
		}
		+ .ab2__item {
			margin-top: 0;
		}
	}
}

@media (min-width: 768px) {
	.ab2__item {
		.item__title {
			font-size: 24px;
		}
		.item__description {
			font-size: 16px;
		}
	}
}
@media (min-width: 1025px) {
	.ab2__title {
		position: absolute;
		left: 130px;
		top: 50%;
		transform: translateY(-50%);
		justify-content: flex-start;
		margin-bottom: 0;

		h2 {
			color: white;
			line-height: 0.85;
			text-shadow: 0 0 5px rgba(map-get($mau, main), 0.4);
			br {
				display: inline;
			}
			span {
				font-size: 77%;
			}
		}
	}
	.ab2__item {
		text-align: left;
		.item__title {
			font-size: 27px;
		}
		.item__description {
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 3;
		}
		+ .ab2__item {
			margin-top: 20px;
		}
	}
	.ab2__img {
		padding-right: 10%;
		max-width: 100%;
		margin-bottom: 0;
	}
}

@media (min-width: 1200px) {
	.ab2__item {
		.item__title {
			font-size: 30px;
		}
		.item__description {
			font-size: 18px;
		}
	}
}
@media (min-width: 1440px) {
	.ab2__item {
		.item__title {
			font-size: 33px;
		}
	}
}
@media (min-width: 1600px) {
	.ab2__item {
		.item__title {
			font-size: 36px;
		}
	}
}
