@import "s-1.scss";
@import "s-2.scss";
@import "s-3.scss";



.creative-page {
	background-image: url('../assets/creative/bg_1.png');
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
}
