extends _templates/_layout/_layout.pug

block var
	- let title = 'Page | Index';
	- let bodyClass = 'index-page';

block loading
	include _templates/_layout/_loading
block banner,breadcrumb
block main
	.desktop.fp-layer-background-color
		.fp-layer-color.fp-layer-home
		.fp-layer-color.fp-layer-strategy
		.fp-layer-color.fp-layer-creative
		.fp-layer-color.fp-layer-media
		.fp-layer-color.fp-layer-social
	.desktop.fp-layer-video-mask
		.fp-layer-video
			//- video(src="./assets/video.mkv" muted autoplay playsinline loop)
			iframe(src="https://www.youtube.com/embed/BDCU5OFXZ2c?controls=0&amp;autoplay=1&amp;mute=1&amp;loop=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
		.fp-layer-text
			.container
				.letter.letter-none
				.letter.letter-w
					svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='656.104', height='519.49', viewBox='0 0 656.104 519.49')
						path(d='M328.073,350.312l-99.7,169.178L0,21.738H156.763L225.4,178.793,328.073,0,430.7,178.793,499.341,21.738H656.1L427.732,519.49Z')
				.letter.letter-o.letter-o-1
					svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='520.494', height='520.494', viewBox='0 0 520.494 520.494')
						path(d='M260.247,0C116.533,0,0,116.533,0,260.247S116.533,520.494,260.247,520.494,520.494,403.961,520.494,260.247,403.961,0,260.247,0Zm0,334.6A74.356,74.356,0,1,1,334.6,260.247,74.362,74.362,0,0,1,260.247,334.6Z')
				.letter.letter-o.letter-o-2
					svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='520.494', height='520.494', viewBox='0 0 520.494 520.494')
						path(d='M260.247,0C116.533,0,0,116.533,0,260.247S116.533,520.494,260.247,520.494,520.494,403.961,520.494,260.247,403.961,0,260.247,0Zm0,334.6A74.356,74.356,0,1,1,334.6,260.247,74.362,74.362,0,0,1,260.247,334.6Z')
				.letter.letter-m
					svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='641.372', height='488.619', viewBox='0 0 641.372 488.619')
						path(d='M320.706,146.173,418.128,0,641.372,486.535H488.129l-67.1-153.488L320.706,488.619,220.343,333.047l-67.1,153.488H0L223.244,0Z', fill='url(#a)')
	#fullpage.fp-container
		include _templates/index/i-1
		include _templates/index/i-2
		include _templates/index/i-3
		include _templates/index/i-4
		include _templates/index/i-5
	#fp-navigation.fp-navigation
		span#fp-prev Prev
		| |
		span#fp-next Next
	.desktop.index-social
		.container
			.row
				.col-auto
					p Follow Us
				.col
					a(href='#')
						<svg xmlns="http://www.w3.org/2000/svg" width="12.83" height="16.492" viewBox="0 0 12.83 16.492"><path d="M1495.929,84.3a4.492,4.492,0,0,1-2.213-1.054c-.432,2.27-.962,4.447-2.528,5.584-.484-3.432.71-6.009,1.264-8.745-.945-1.591.114-4.793,2.107-4,2.453.97-2.124,5.915.948,6.533,3.208.645,4.517-5.566,2.528-7.586-2.874-2.917-8.366-.067-7.691,4.109.164,1.021,1.219,1.331.421,2.739-1.839-.408-2.388-1.858-2.317-3.793a6.191,6.191,0,0,1,5.584-5.69c3.464-.388,6.715,1.272,7.164,4.531.505,3.678-1.564,7.661-5.268,7.375Zm0,0" transform="translate(-1488.442 -72.341)" fill="#f1667f"></path></svg>
					a(href='#')
						<svg xmlns="http://www.w3.org/2000/svg" width="7.874" height="15.907" viewBox="0 0 7.874 15.907"><path d="M1095.386,74.615h-2.343v7.54h-3.474v-7.54h-1.652V71.663h1.652v-1.91a3.257,3.257,0,0,1,3.5-3.5l2.573.011v2.865h-1.867a.707.707,0,0,0-.737.8v1.737h2.646Zm.4.089" transform="translate(-1087.917 -66.248)" fill="#f1667f"></path></svg>
					a(href='#')
						<svg xmlns="http://www.w3.org/2000/svg" width="15.574" height="12.657" viewBox="0 0 15.574 12.657"><path d="M1234.967,68.608a6.376,6.376,0,0,1-1.835.5,3.206,3.206,0,0,0,1.405-1.767,6.4,6.4,0,0,1-2.029.775,3.2,3.2,0,0,0-5.445,2.915,9.071,9.071,0,0,1-6.586-3.339,3.2,3.2,0,0,0,.989,4.266,3.181,3.181,0,0,1-1.447-.4c0,.013,0,.027,0,.041a3.2,3.2,0,0,0,2.563,3.133,3.2,3.2,0,0,1-1.443.055,3.2,3.2,0,0,0,2.985,2.219,6.449,6.449,0,0,1-4.73,1.323,9.087,9.087,0,0,0,13.989-7.655q0-.208-.01-.413a6.492,6.492,0,0,0,1.595-1.654Zm0,0" transform="translate(-1219.393 -67.11)" fill="#f1667f"></path></svg>
						
	.desktop#fp-next-2
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 140" version="1.1" x="0px" y="0px"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g fill="#000000"><path class="mouse-next-section" d="M50,94.5787804 L64.7927304,79.7860499 C65.573779,79.0050013 66.840109,79.0050013 67.6211576,79.7860499 C68.4022061,80.5670985 68.4022061,81.8334285 67.6211576,82.614477 L51.4142136,98.8214211 C51.0236893,99.2119453 50.5118446,99.4072075 50,99.4072075 C49.4881554,99.4072075 48.9763107,99.2119453 48.5857864,98.8214211 L32.3312722,82.566907 C31.5502236,81.7858584 31.5502236,80.5195284 32.3312722,79.7384798 C33.1123208,78.9574313 34.3786508,78.9574313 35.1596993,79.7384798 L50,94.5787804 Z" /><path class="mouse-next-section delay-1" d="M50,94.5787804 L64.7927304,79.7860499 C65.573779,79.0050013 66.840109,79.0050013 67.6211576,79.7860499 C68.4022061,80.5670985 68.4022061,81.8334285 67.6211576,82.614477 L51.4142136,98.8214211 C51.0236893,99.2119453 50.5118446,99.4072075 50,99.4072075 C49.4881554,99.4072075 48.9763107,99.2119453 48.5857864,98.8214211 L32.3312722,82.566907 C31.5502236,81.7858584 31.5502236,80.5195284 32.3312722,79.7384798 C33.1123208,78.9574313 34.3786508,78.9574313 35.1596993,79.7384798 L50,94.5787804 Z" /></g></g></svg>
block scripts