extends _templates/_layout/_layout.pug

block var
	- let title = 'Page | Our Services';
	- let bodyClass = 'our-service-page';

block loading
	include _templates/_layout/_loading
block banner,breadcrumb
	include _templates/_layout/_breadcrumb
block main
	.fp-layer-video-mask
		.fp-layer-video.desktop
			iframe(src="https://www.youtube.com/embed/BDCU5OFXZ2c?controls=0&amp;autoplay=1&amp;mute=1&amp;loop=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
		.about-text.desktop
			.our-service-1-text
				.container
					.row.jc-c.ai-c
						.content.col-auto
							.text(style="opacity: 0")
								.section-title.wow.fadeInLeft
									h2 
										span Our 
										br
										| services
								.section-description.wow.fadeInRight
									p Lorem ipsum dolor sit amet 
										br
										| Consectetur adipiscing
							.img
								<svg xmlns="http://www.w3.org/2000/svg" width="301.691" height="348.204" viewBox="0 0 301.691 348.204"><path d="M200.836-231.005q-3.964-28.187-43.823-28.187-31.271,0-33.032,17.631,0,8.155,6.827,14.768a56.015,56.015,0,0,0,17.837,10.357,198.535,198.535,0,0,0,25.1,7.494l26.206,6.169q18.718,4.631,34.023,9.92a206.946,206.946,0,0,1,27.637,11.682q24.224,12.563,36.666,31.627t12.442,47.052q0,39.893-21.141,64.688T234.309-1.991Q200.175,9.029,159.656,9.029q-39.418,0-71.57-13.543T36.115-43.162A110.991,110.991,0,0,1,20.48-70.579a82.44,82.44,0,0,1-5.505-30.059h102.4q3.3,19.159,18.168,26.976a67.362,67.362,0,0,0,31.821,7.818q19.379,0,29.839-5.951T208.764-88.1q0-13.887-14.975-21.158a158.323,158.323,0,0,0-18.938-7.384q-11.671-3.857-29.509-8.485Q114.952-132.4,94.8-139.566A152.141,152.141,0,0,1,57.917-158.52a81.89,81.89,0,0,1-26.206-30.526q-9.469-18.734-9.469-46.061a82.7,82.7,0,0,1,16.846-50.472q16.846-22.7,49.108-35.594t75.644-12.893a213.447,213.447,0,0,1,48.227,5.3A133.74,133.74,0,0,1,253.8-311.556a102.271,102.271,0,0,1,31.6,31.888q12.772,19.972,16.736,48.662Z" transform="matrix(1, 0.017, -0.017, 1, -14.815, 333.754)" fill="#000000"/></svg>
		include _templates/our-service/o-1
		include _templates/our-service/o-2
