extends _templates/_layout/_layout.pug

block var
	- let title = 'Page | Media performance';
	- let bodyClass = 'media-performance-page';

block loading
	
block banner,breadcrumb
	include _templates/_layout/_breadcrumb
block main
	section.media-performance
		include _templates/sv-media-performance/m-1