extends _templates/_layout/_layout.pug

block var
	- let title = 'Page | Creative';
	- let bodyClass = 'strategy-page';

block loading
	
block banner,breadcrumb
	include _templates/_layout/_breadcrumb
block main
	include _templates/sv-social-outreach/s-1
	include _templates/sv-social-outreach/s-2
	include _templates/sv-social-outreach/s-3
