.research-insight-1.pd-70
	.container
		.content
			.section-title
				h2.wow.fadeInUp Marketing
					br
					sup & 
					span Trends
				.stg-dt__img.wow.fadeInUp
					img(src="./assets/analysis/a_4.png")