.research-insight-1.pd-70
	.container
		.content
			.section-title
				.stg-dt__img
					img.wow.fadeInUp(src="./assets/analysis/a_4.png")
				h2.wow.fadeInUp Marketing
					br
					sup & 
					span Trends