.research-insight-2.pd-70
	.container
		.row
			.col-sm-6.col-lg-4
				a.mt__item(href="marketing-trends-dt-1.html")
					.item__img
						.item__icon
							img(src="./assets/icons/ppt.png", alt="")
						img(src="./assets/research/r_1.png", alt="")
					.item__title 
						h3 Lorem Ipsum is simply dummy text of the printg industry. 
					.item__viewmore
						span.tt-u Click here
							img(src="./assets/icons/down.svg", alt="")
			.col-sm-6.col-lg-4
				a.mt__item(href="marketing-trends-dt-1.html")
					.item__img
						.item__icon
							img(src="./assets/icons/ppt.png", alt="")
						img(src="./assets/research/r_2.png", alt="")
					.item__title 
						h3 Lorem Ipsum is simply dummy text of the printg industry. 
					.item__viewmore
						span.tt-u Click here
							img(src="./assets/icons/down.svg", alt="")
			.col-sm-6.col-lg-4
				a.mt__item(href="marketing-trends-dt-1.html")
					.item__img
						.item__icon
							img(src="./assets/icons/ppt.png", alt="")
						img(src="./assets/research/r_3.png", alt="")
					.item__title 
						h3 Lorem Ipsum is simply dummy text of the printg industry. 
					.item__viewmore
						span.tt-u Click here
							img(src="./assets/icons/down.svg", alt="")
			.col-sm-6.col-lg-4
				a.mt__item(href="marketing-trends-dt-1.html")
					.item__img
						.item__icon
							img(src="./assets/icons/ppt.png", alt="")
						img(src="./assets/research/r_4.png", alt="")
					.item__title 
						h3 Lorem Ipsum is simply dummy text of the printg industry. 
					.item__viewmore
						span.tt-u Click here
							img(src="./assets/icons/down.svg", alt="")
			.col-sm-6.col-lg-4
				a.mt__item(href="marketing-trends-dt-1.html")
					.item__img
						.item__icon
							img(src="./assets/icons/ppt.png", alt="")
						img(src="./assets/research/r_5.png", alt="")
					.item__title 
						h3 Lorem Ipsum is simply dummy text of the printg industry. 
					.item__viewmore
						span.tt-u Click here
							img(src="./assets/icons/down.svg", alt="")
			.col-sm-6.col-lg-4
				a.mt__item(href="marketing-trends-dt-1.html")
					.item__img
						.item__icon
							img(src="./assets/icons/ppt.png", alt="")
						img(src="./assets/research/r_6.png", alt="")
					.item__title 
						h3 Lorem Ipsum is simply dummy text of the printg industry. 
					.item__viewmore
						span.tt-u Click here
							img(src="./assets/icons/down.svg", alt="")
			.col-sm-6.col-lg-4
				a.mt__item(href="marketing-trends-dt-2.html")
					.item__img
						.item__icon
							img(src="./assets/icons/ppt.png", alt="")
						img(src="./assets/research/r_4.png", alt="")
					.item__title 
						h3 Lorem Ipsum is simply dummy text of the printg industry. 
					.item__viewmore
						span.tt-u Click here
							img(src="./assets/icons/down.svg", alt="")
			.col-sm-6.col-lg-4
				a.mt__item(href="marketing-trends-dt-2.html")
					.item__img
						.item__icon
							img(src="./assets/icons/ppt.png", alt="")
						img(src="./assets/research/r_2.png", alt="")
					.item__title 
						h3 Lorem Ipsum is simply dummy text of the printg industry. 
					.item__viewmore
						span.tt-u Click here
							img(src="./assets/icons/down.svg", alt="")
			.col-sm-6.col-lg-4
				a.mt__item(href="marketing-trends-dt-2.html")
					.item__img
						.item__icon
							img(src="./assets/icons/ppt.png", alt="")
						img(src="./assets/research/r_1.png", alt="")
					.item__title 
						h3 Lorem Ipsum is simply dummy text of the printg industry. 
					.item__viewmore
						span.tt-u Click here
							img(src="./assets/icons/down.svg", alt="")
			.col-sm-6.col-lg-4
				a.mt__item(href="marketing-trends-dt-2.html")
					.item__img
						.item__icon
							img(src="./assets/icons/ppt.png", alt="")
						img(src="./assets/research/r_3.png", alt="")
					.item__title 
						h3 Lorem Ipsum is simply dummy text of the printg industry. 
					.item__viewmore
						span.tt-u Click here
							img(src="./assets/icons/down.svg", alt="")
			.col-sm-6.col-lg-4
				a.mt__item(href="marketing-trends-dt-2.html")
					.item__img
						.item__icon
							img(src="./assets/icons/ppt.png", alt="")
						img(src="./assets/research/r_5.png", alt="")
					.item__title 
						h3 Lorem Ipsum is simply dummy text of the printg industry. 
					.item__viewmore
						span.tt-u Click here
							img(src="./assets/icons/down.svg", alt="")
			.col-sm-6.col-lg-4
				a.mt__item(href="marketing-trends-dt-2.html")
					.item__img
						.item__icon
							img(src="./assets/icons/ppt.png", alt="")
						img(src="./assets/research/r_1.png", alt="")
					.item__title 
						h3 Lorem Ipsum is simply dummy text of the printg industry. 
					.item__viewmore
						span.tt-u Click here
							img(src="./assets/icons/down.svg", alt="")
	.d-n
		.popup-download#popup-download
			.popup__image
			.popup__description
				h3 To dowload this document, please complete this following form!
			form.popup__form
				label.form-group
					input#document-id(type="text" hidden name="document-id" )
				label.form-group
					input(type="text", name="Fullname*" placeholder="Fullname*")
				label.form-group
					input(type="text", name="Phone*" placeholder="Phone*")
				label.form-group
					input(type="text", name="Email*" placeholder="Email*")
				.form-group.form-button
					button.btn(data-url="download") Get your document