@import "m-1.scss";
@import "m-2.scss";
@import "m-3.scss";


.media-performance-page {
	background-image: url('../assets/media/bg_1.png');
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
}
