.about-5.pb-70
	.container
		.section-title.jc-c
			h2.wow.fadeInLeft Our clients
				br
				| say about us
			.ab5__img
				img(src="./assets/about/a_9.png")
	.container.ab5__list
		.row.jc-c.ab5__item
			.col-lg-10.col-xl-8.col-2xl-6
				.item__content
					.item__icon.wow.fadeInLeft
						img.svg(src="./assets/icons/quote.svg")
					.item__description.wow.fadeInRight
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					.item__title.wow.fadeInUp
						h3 CocaCola
		.row.jc-c.ab5__item
			.col-lg-10.col-xl-8.col-2xl-6
				.item__content
					.item__icon.wow.fadeInRight
						img.svg(src="./assets/icons/quote.svg")
					.item__description.wow.fadeInLeft
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					.item__title.wow.fadeInUp
						h3 McDonalds
		.row.jc-c.ab5__item
			.col-lg-10.col-xl-8.col-2xl-6
				.item__content
					.item__icon.wow.fadeInLeft
						img.svg(src="./assets/icons/quote.svg")
					.item__description.wow.fadeInRight
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					.item__title.wow.fadeInUp
						h3 VietJet Air