section.fp-content.content-media(fp-title="Media" data-header="white") 
	.container
		.row.ai-c
			.col-12.mobile
				.img.wow.fadeInUp
					img(src="./assets/index/o_2.png", alt="")
			.col-lg-6.col-xl-5.cm__left
				.section-description.wow.fadeInleft
					p Affiliate marketing SEM, 
					p Display, Social ads,..
				.section-description.wow.fadeInRight
					p Conversion rate optimization 
					p Programmatic – DSP/ SSP
			.col-xl-1.col-xl-show
			.col-lg-5.cm__right
				.section-title.wow.fadeInRight
					h2 Media
					h3 Performance