section.fp-content.content-social(fp-title="Social" data-header="black") 
	.container
		.row
			.col-12.mobile
				.img.wow.fadeInUp
					img(src="./assets/index/w.png", alt="")
			.col-lg-6.cs--right
				.section-title.wow.fadeInLeft
					h2 Social
					h3 Outreach
				.section-description.cl-black.wow.fadeInRight
					p Social Media
					p Influencer - PR
					p Media booking