.strategy-detail.pd-70
	.container
		.content
			.section-title
				h2.wow.fadeInUp Business
					br
					span consultancy
				.stg-dt__img.wow.fadeInUp
					img(src="./assets/strategy/stg_3.png")
		.stg-dt__content
			.row
				.col-md-6.wow.fadeInUp
					p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium, nisi? Nisi qui sint repellat magnam, nihil ea quaerat sed totam, consequatur, est assumenda debitis cumque hic sunt quos error maxime.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque rerum sint officiis ex sed voluptas nisi laudantium cumque repudiandae ratione laboriosam, repellendus cupiditate dolore quam? Fugiat harum eos nobis corporis?
				.col-md-6.wow.fadeInUp
					p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium, nisi? Nisi qui sint repellat magnam, nihil ea quaerat sed totam, consequatur, est assumenda debitis cumque hic sunt quos error maxime.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque rerum sint officiis ex sed voluptas nisi laudantium cumque repudiandae ratione laboriosam, repellendus cupiditate dolore quam? Fugiat harum eos nobis corporis?