.ofcv {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	font-family: 'object-fit: cover, object-position: center';
	background-size: cover;
}

.ofct {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
	font-family: 'object-fit: contain, object-position: center';
	background-size: contain;
}

.blur-up {
	filter: blur(10px);
	transition: filter 1s;

	&.lazy-loaded {
		filter: blur(0);
	}
}

.clearfix {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.pt-70 {
	padding-top: 35px;
	@media (min-width: 1025px) {
		padding-top: 70px;
	}
}

.pb-70 {
	padding-bottom: 35px;
	@media (min-width: 1025px) {
		padding-bottom: 70px;
	}
}

.pd-70 {
	padding-top: 35px;
	padding-bottom: 35px;
	@media (min-width: 1025px) {
		padding-top: 70px;
		padding-bottom: 70px;
	}
}

.item__img {
	img {
		width: 100%;
	}
}

.section-title {
	display: flex;
	flex-wrap: wrap;

	h2 {
		position: relative;
		padding-right: 70px;
		font-size: 32px;
		z-index: 2;

		&:before {
			content: '';
			position: absolute;
			width: 30px;
			height: 30px;
			top: 30%;
			right: 0;
			background-image: url('../assets/icons/arrow-title.svg');
			background-position: center center;
			background-size: 100%;
		}
	}

	h3 {
		-ms-flex: 0 0 100%;
		-webkit-box-flex: 0;
		flex: 0 0 100%;
		max-width: 100%;
		color: white;
		margin-top: -20px;
		font-size: 24px;
	}

	@media (min-width: 768px) {
		h2 {
			font-size: 50px;
			padding-right: 45px;

			&:before {
				width: 40px;
				height: 40px;
				top: 34%;
				right: -20px;
			}
		}

		h3 {
			font-size: 38px;
		}

		h2,
		h3 {
			line-height: 1.2;
		}
	}

	@media (min-width: 1025px) {
		h2 {
			font-size: 68px;
			text-transform: none;
		}

		h3 {
			font-size: 46px;
		}
	}
	@media (min-width: 1200px) {
		h2 {
			font-size: 100px;
		}

		h3 {
			font-size: 60px;
		}

		h2,
		h3 {
			line-height: 1.1;
		}
	}
	@media (min-width: 1440px) {
		h2 {
			font-size: 135px;
		}

		h3 {
			font-size: 70px;
		}
	}
	@media (min-width: 1600px) {
		h2 {
			font-size: 170px;
		}
		h3 {
			font-size: 80px;
		}
	}
}

.section-description {
	p {
		font-size: 16px;
		@media (min-width: 576px) {
			font-size: 22px;
		}
		@media (min-width: 768px) {
			font-size: 26px;
		}
		@media (min-width: 1025px) {
			font-size: 28px;
		}
		@media (min-width: 1440px) {
			font-size: 38px;
		}
		@media (min-width: 1600px) {
			font-size: 42px;
		}
	}
}
main {
	overflow: hidden;
}
@media (max-width: 1024.98px) {
	main {
		padding-top: 60px;
	}
}

body {
	position: relative;
}
// main {
// 	@media (min-width: 1025px) {
// 		padding-top: 72px;
// 	}
// 	@media (min-width: 1200px) {
// 		padding-top: 92px;
// 	}
// 	@media (min-width: 1440px) {
// 		padding-top: 112px;
// 	}
// }

.col-xl-show {
	@media (max-width: 1199.98px) {
		display: none !important;
	}
}
