.sv-creative-2
	.container
		.section-title.jc-c.wow.fadeInUp
			h2 Value 
				span of 
				br
				span creative 
				br
				span thinking
		.row.jc-c
			.col-lg-10.col-xl-9
				.os2__item.creative2__item
					.item__img(data-ratio="1").wow.fadeInUp
						img(src="./assets/creative/ct_1.png", alt="")
					.item__content
						.item__title.wow.fadeInUp
							h3 Big idea 
								br
								span is 
								span the key of value
								br
								span in 
								span mastering market
						.item__description.wow.fadeInUp
							p In long term strategy of 
								b Start-up & SME, WOO MEDIA pursues CREATIVITY 
								| as a solution for branding and making a deep impression on the minds of customers. 
							p Not only capturing market trends, 
								b CREATIVITY 
								| - is a way to initiate trends to elevate the brand to a new page.