.strategy-1.pb-70.media-performance-1
	.container
		.stg1__content
			.section-title
				h2.wow.fadeInLeft 
					b Media
					br
					span performance
				.stg1__img
					img.wow.fadeInRight(src="./assets/media/m_1.png", alt="")
			.stg1__description.wow.fadeInUp
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
