.strategy-1.pb-70.media-performance-2
	.container
		.stg1__content
			.section-title
				h2.wow.fadeInLeft 
					span Social 
					| ads
				.stg1__img
					img.wow.fadeInRight(src="./assets/media/m_2.png", alt="")
			.stg1__description.wow.fadeInUp.mp2__description
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				.item__viewmore.wow.fadeInLeft
					a(href="/sv-strategy.html") 
						span Click here
						span
							img(src="./assets/icons/arrow_right_3.png")
.strategy-1.pb-70.media-performance-3
	.container
		.stg1__description.wow.fadeInUp.mp2__description
			.section-title
				h2.wow.fadeInLeft SEM
				.stg1__img.desktop
					img.wow.fadeInRight(src="./assets/media/m_3-d.png", alt="")
				.stg1__img.mobile
					img.wow.fadeInRight(src="./assets/media/m_3-m.png", alt="")
			.stg1__content
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			.item__viewmore.wow.fadeInLeft
				a(href="/sv-strategy.html") 
					span Click here
					span
						img(src="./assets/icons/arrow_right_3.png")
.strategy-1.pb-70.media-performance-4
	.container
		.stg1__content
			.section-title
				h2.wow.fadeInLeft Display
				.stg1__img
					img.wow.fadeInRight(src="./assets/media/m_4.png", alt="")
			.stg1__description.wow.fadeInUp.mp2__description
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				.item__viewmore.wow.fadeInLeft
					a(href="/sv-strategy.html") 
						span Click here
						span
							img(src="./assets/icons/arrow_right_3.png")