.contact.pb-70(data-scroll="scroll-1")
	.container
		.row
			.col-lg-1
			.col-lg-10.col-xl-8
				.section-title.wow.fadeInUp
					h2 Contact Us
		.row
			.col-lg-1
			.col-lg-7.col-xl-5
				form.contact__form.wow.fadeInUp
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
					.row
						.col-lg-6.form-group
							input.form-control#name(type="text", name="name" placeholder="Name*")
							span.field-validation-error Error
						.col-lg-6.form-group
							input.form-control#email(type="text", name="email" placeholder="Email*")
							span.field-validation-error Error
						.col-lg-12.form-group
							textarea.form-control#message(name="message" placeholder="Message*")
							span.field-validation-error Error
						.col-lg-12.form-group(hidden)
							input.form-control#reCaptcha(name="g-recaptcha-response" placeholder="Message*")
						.col-12.form-button
							button.btn(data-url="/test") Submit
								img(src="./assets/icons/muiten-trang.svg", alt="")
			.col-lg-4(style="align-self: flex-end")
				.contact__description
					.item.wow.fadeInUp
						.item__img
							img(src="./assets/icons/phone.svg")
						.item__content
							p 0315787327 - 0315787327
					.item.wow.fadeInUp
						.item__img
							img(src="./assets/icons/envelope.svg")
						.item__content
							p woomedia@gmail.com
					.item.wow.fadeInUp
						.item__img
							img(src="./assets/icons/marker.svg")
						.item__content
							p 412 Nguyen Thi Minh Khai Street, 5 Ward, 3 District, Ho Chi Minh City