.research-insight-1.pd-70
	.container
		.content
			.section-title
				h2.wow.fadeInUp Viral Video
					br
					sup &nbsp;&nbsp;&nbsp;&nbsp;&
					span TVC
				.stg-dt__img.wow.fadeInUp
					img(src="./assets/viral/v_1.png")