.research-insight-1.pd-70
	.container
		.content
			.section-title
				.stg-dt__img
					img.wow.fadeInUp(src="./assets/viral/v_1.png")
				h2.wow.fadeInUp Viral Video
					br
					sup &nbsp;&nbsp;&nbsp;&nbsp;&
					span TVC