.research-insight-2.viral-video-2.pd-70
	.container
		.row
			.col-sm-6.col-lg-4
				.vr2__item
					a(data-fancybox="vid-1" href="https://www.youtube.com/watch?v=ArsJOpFjMcE")
						.item__img
							.item__icon
								img(src="./assets/icons/video.svg", alt="")
							img(src="./assets/research/r_1.png", alt="")
						.item__title 
							h3 Lorem Ipsum is simply dummy text of the printg industry. 
						.item__viewmore
							span.tt-u Video  
								img(src="./assets/icons/down.svg", alt="")
			.col-sm-6.col-lg-4
				.vr2__item
					a(data-fancybox="vid-2" href="https://www.youtube.com/watch?v=ArsJOpFjMcE")
						.item__img
							.item__icon
								img(src="./assets/icons/video.svg", alt="")
							img(src="./assets/research/r_2.png", alt="")
						.item__title 
							h3 Lorem Ipsum is simply dummy text of the printg industry. 
						.item__viewmore
							span.tt-u Video  
								img(src="./assets/icons/down.svg", alt="")
			.col-sm-6.col-lg-4
				.vr2__item
					a(data-fancybox="vid-3" href="https://www.youtube.com/watch?v=ArsJOpFjMcE")
						.item__img
							.item__icon
								img(src="./assets/icons/video.svg", alt="")
							img(src="./assets/research/r_3.png", alt="")
						.item__title 
							h3 Lorem Ipsum is simply dummy text of the printg industry. 
						.item__viewmore
							span.tt-u Video  
								img(src="./assets/icons/down.svg", alt="")
			.col-sm-6.col-lg-4
				.vr2__item
					a(data-fancybox="vid-4" href="https://www.youtube.com/watch?v=ArsJOpFjMcE")
						.item__img
							.item__icon
								img(src="./assets/icons/video.svg", alt="")
							img(src="./assets/research/r_4.png", alt="")
						.item__title 
							h3 Lorem Ipsum is simply dummy text of the printg industry. 
						.item__viewmore
							span.tt-u Video  
								img(src="./assets/icons/down.svg", alt="")
			.col-sm-6.col-lg-4
				.vr2__item
					a(data-fancybox="vid-5" href="https://www.youtube.com/watch?v=ArsJOpFjMcE")
						.item__img
							.item__icon
								img(src="./assets/icons/video.svg", alt="")
							img(src="./assets/research/r_5.png", alt="")
						.item__title 
							h3 Lorem Ipsum is simply dummy text of the printg industry. 
						.item__viewmore
							span.tt-u Video  
								img(src="./assets/icons/down.svg", alt="")
			.col-sm-6.col-lg-4
				.vr2__item
					a(data-fancybox="vid-6" href="https://www.youtube.com/watch?v=ArsJOpFjMcE")
						.item__img
							.item__icon
								img(src="./assets/icons/video.svg", alt="")
							img(src="./assets/research/r_6.png", alt="")
						.item__title 
							h3 Lorem Ipsum is simply dummy text of the printg industry. 
						.item__viewmore
							span.tt-u Video  
								img(src="./assets/icons/down.svg", alt="")
			.col-sm-6.col-lg-4
				.vr2__item
					a(data-fancybox="vid-7" href="https://www.youtube.com/watch?v=ArsJOpFjMcE")
						.item__img
							.item__icon
								img(src="./assets/icons/video.svg", alt="")
							img(src="./assets/research/r_4.png", alt="")
						.item__title 
							h3 Lorem Ipsum is simply dummy text of the printg industry. 
						.item__viewmore
							span.tt-u Video  
								img(src="./assets/icons/down.svg", alt="")
			.col-sm-6.col-lg-4
				.vr2__item
					a(data-fancybox="vid-8" href="https://www.youtube.com/watch?v=ArsJOpFjMcE")
						.item__img
							.item__icon
								img(src="./assets/icons/video.svg", alt="")
							img(src="./assets/research/r_2.png", alt="")
						.item__title 
							h3 Lorem Ipsum is simply dummy text of the printg industry. 
						.item__viewmore
							span.tt-u Video  
								img(src="./assets/icons/down.svg", alt="")
			.col-sm-6.col-lg-4
				.vr2__item
					a(data-fancybox="vid-9" href="https://www.youtube.com/watch?v=ArsJOpFjMcE")
						.item__img
							.item__icon
								img(src="./assets/icons/video.svg", alt="")
							img(src="./assets/research/r_1.png", alt="")
						.item__title 
							h3 Lorem Ipsum is simply dummy text of the printg industry. 
						.item__viewmore
							span.tt-u Video  
								img(src="./assets/icons/down.svg", alt="")
			.col-sm-6.col-lg-4
				.vr2__item
					a(data-fancybox="vid-10" href="https://www.youtube.com/watch?v=ArsJOpFjMcE")
						.item__img
							.item__icon
								img(src="./assets/icons/video.svg", alt="")
							img(src="./assets/research/r_3.png", alt="")
						.item__title 
							h3 Lorem Ipsum is simply dummy text of the printg industry. 
						.item__viewmore
							span.tt-u Video  
								img(src="./assets/icons/down.svg", alt="")
			.col-sm-6.col-lg-4
				.vr2__item
					a(data-fancybox="vid-11" href="https://www.youtube.com/watch?v=ArsJOpFjMcE")
						.item__img
							.item__icon
								img(src="./assets/icons/video.svg", alt="")
							img(src="./assets/research/r_5.png", alt="")
						.item__title 
							h3 Lorem Ipsum is simply dummy text of the printg industry. 
						.item__viewmore
							span.tt-u Video  
								img(src="./assets/icons/down.svg", alt="")
			.col-sm-6.col-lg-4
				.vr2__item
					a(data-fancybox="vid-12" href="https://www.youtube.com/watch?v=ArsJOpFjMcE")
						.item__img
							.item__icon
								img(src="./assets/icons/video.svg", alt="")
							img(src="./assets/research/r_1.png", alt="")
						.item__title 
							h3 Lorem Ipsum is simply dummy text of the printg industry. 
						.item__viewmore
							span.tt-u Video  
								img(src="./assets/icons/down.svg", alt="")