.research-insight-1.pd-70(data-header="white")
	.container
		.content
			.section-title
				h2.wow.fadeInUp Research
					br
					sup & 
					span Insight
				.stg-dt__img
					img(src="./assets/analysis/a_2.png")