@import 'o-1.scss';
@import 'o-2.scss';

.our-service-page {
	background-image: url('../assets/services/os_bg.png');
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
}
