.our-service-1(data-header="white")
	.container
		.row.jc-c.ai-c
			.content.col-auto
				.text
					.section-title.wow.fadeInLeft
						h2 
							span Our 
							br
							| services
					.section-description.wow.fadeInRight
						p Lorem ipsum dolor sit amet 
							br
							| Consectetur adipiscing
				.img.wow.fadeInUp
					img(src="./assets/services/os_1.png", alt="")