@import '_abstracts/main';
@import '_globals/main';
@import '_layouts/main';

@import 'pages/index/main';
@import 'pages/about/main';
@import 'pages/our-service/main';
@import 'pages/sv-strategy/main';
@import 'pages/sv-creative/main';
@import 'pages/sv-strategy-dt/main';
@import 'pages/sv-media-performance/main';
@import 'pages/marketing-trends/main';
@import 'pages/marketing-trends-dt-1/main';
@import 'pages/marketing-trends-dt-2/main';
@import 'pages/analysis/main';
@import 'pages/research-insight/main';
@import 'pages/viral-video/main';
@import 'pages/contact/main';

.index-page {
	// header {
	// 	.header__logo {
	// 		display: none;
	// 	}
	// }
	#next-section {
		display: none;
	}
}

.about-text {
	svg {
		path,
		ellipse {
			stroke-width: 1px;
			stroke: map-get($mau, main);
			stroke-dasharray: 3000;
			stroke-dashoffset: 3000;
			stroke-linejoin: round;
			stroke-linecap: square;
			fill: transparent;
		}
		&.active {
			path {
				animation: characterStroke 1.75s linear forwards,
					characterFill 0.5s 1s linear forwards;
			}
		}
	}
}

.svg-mobile {
	path,
	ellipse {
		stroke-width: 1px;
		stroke: map-get($mau, main);
		stroke-dasharray: 2000;
		stroke-dashoffset: 2000;
		fill-opacity: 0;
	}
	&.active {
		path,
		ellipse {
			animation: characterStroke 1.75s linear forwards,
				charFill 0.5s 1s linear forwards;
		}
	}
}

@keyframes charFill {
	to {
		fill-opacity: 1;
	}
}

.wow {
	opacity: 0;
}

.next-section {
	position: fixed;
	z-index: 200;
	width: 25px;
	height: 50px;
	background-color: white;
	cursor: pointer;
	display: flex;
	border-radius: 12px;
	border: 1px solid rgba(map-get($mau, main), 0.75);
	justify-content: center;
	flex-direction: column;
	align-items: center;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	display: none !important;

	.lnr {
		animation: scrollDown 1s linear infinite;
		color: map-get($mau, main);
		+ .lnr {
			margin-top: -5px;
		}
	}
	&.return {
		.lnr {
			transform: rotate(180deg);
		}
	}
}

.index-page,
.contact,
.strategy-detail-1-page,
.marketing-trends-detail-1-page,
.marketing-trends-detail-2-page,
.strategy-detail-2-page {
	.next-section {
		display: none !important;
	}
}
