.strategy-2.pd-70
	.container
		.section-title.jc-c.wow.fadeInUp
			h2 What 
				br
				span we 
				| have
		.stg2__content.clearfix
			.row
				.col-md-6
					.stg2__item
						h3.item__title.wow.fadeInUp Marketing Strategy
						p.item__description.wow.fadeInLeft Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						.item__viewmore.wow.fadeInRight
							a(href="http://web1.web4gsolutions.com/woo-html//marketing-strategy.html") 
								span Click here
								span
									img(src="./assets/icons/arrow_right_3.png")
				.col-md-6
					.stg2__item
						h3.item__title.wow.fadeInUp Brand Strategy
						p.item__description.wow.fadeInLeft Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						.item__viewmore.wow.fadeInRight
							a(href="http://web1.web4gsolutions.com/woo-html//brand-strategy.html")
								span Click here
								span
									img(src="./assets/icons/arrow_right_3.png")
				.col-md-6
					.stg2__item
						h3.item__title.wow.fadeInUp Business Consultancy
						p.item__description.wow.fadeInLeft Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						.item__viewmore.wow.fadeInRight
							a(href="http://web1.web4gsolutions.com/woo-html//business-consultancy.html")
								span Click here
								span
									img(src="./assets/icons/arrow_right_3.png")
				.col-md-6
					.stg2__item
						h3.item__title.wow.fadeInUp Market & Consumer Research
						p.item__description.wow.fadeInLeft Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						.item__viewmore.wow.fadeInRight
							a(href="http://web1.web4gsolutions.com/woo-html//market-consumer-research.html")
								span Click here
								span
									img(src="./assets/icons/arrow_right_3.png")