@import "./i-1.scss";
@import "./i-2.scss";
@import "./i-3.scss";
@import "./i-4.scss";
@import "./i-5.scss";

.woo-index {
	width: 100%;
}

.section-title {
	display: flex;
	flex-wrap: wrap;

	h2 {
		position: relative;
		padding-right: 70px;
		font-size: 170px;
		line-height: 1.25;
		color: white;

		&:before {
			content: '';
			position: absolute;
			width: 40px;
			height: 40px;
			top: 30%;
			right: 0;
			background-image: url('../assets/icons/arrow-title.svg');
			background-position: center center;
			background-size: 100%;
		}
	}

	h3 {
		-ms-flex: 0 0 100%;
		-webkit-box-flex: 0;
		flex: 0 0 100%;
		max-width: 100%;
		font-size: 80px;
		line-height: 1.2;
		color: white;
		margin-top: -20px;
	}

	@media (max-width: 1024.98px) {
		h2 {
			font-size: 90px;
			color: map-get($mau, main)
		}
	}

	@media (max-width: 1599.98px) {
		h2 {
			font-size: 135px;
		}

		h3 {
			font-size: 70px;
		}
	}

	@media (max-width: 1439.98px) {
		h2 {
			font-size: 100px;
		}

		h3 {
			font-size: 60px;
		}
	}

	@media (max-width: 1199.98px) {
		h2 {
			font-size: 75px;
		}

		h3 {
			font-size: 50px;
		}
	}

	@media (max-width: 1024.98px) {

		h2 {
			font-size: 50px;
			padding-right: 45px;

			&:before {
				width: 30px;
				height: 30px;
				top: 15%;
				right: 0;
			}
		}

		h3 {
			font-size: 38px;
		}

		h2,
		h3 {
			line-height: 1.5;
		}
	}

	@media (max-width: 767.98px) {

		h2 {
			font-size: 32px;
		}

		h3 {
			font-size: 24px;
		}
	}
}

.section-description {
	p {
		font-size: 42px;


		@media (max-width: 1599.98px) {
			font-size: 38px;
		}

		@media (max-width: 1439.98px) {
			font-size: 34px;
		}

		@media (max-width: 1199.98px) {
			font-size: 30px;
		}

		@media (max-width: 1024.98px) {
			font-size: 26px;
		}

		@media (max-width: 767.98px) {
			font-size: 22px;
		}

		@media (max-width: 575.98px) {
			font-size: 18px;
		}
	}
}

.img-particle {
	.canvas-wrapper {
		z-index: 2;
	}
}