@import "./i-1.scss";
@import "./i-2.scss";
@import "./i-3.scss";
@import "./i-4.scss";
@import "./i-5.scss";

.woo-index {
	width: 100%;
}

// .fp-container {
// 	.fp-section {
// 		&:nth-child(odd) {
// 			background-color: #FFFFFF;
// 		}

// 		&:nth-child(even) {
// 			background-color: rgba(#F1667F, .5);
// 		}
// 	}
// }

.section-title {
	display: flex;
	flex-wrap: wrap;

	h2 {
		position: relative;
		padding-right: 70px;
		font-size: 170px;
		line-height: 1.1;
		color: white;

		&:before {
			content: '';
			position: absolute;
			width: 40px;
			height: 40px;
			top: 30%;
			right: 0;
			background-image: url('../assets/icons/arrow-title.svg');
			background-position: center center;
		}
	}

	h3 {
		-ms-flex: 0 0 100%;
		-webkit-box-flex: 0;
		flex: 0 0 100%;
		max-width: 100%;
		font-size: 80px;
		line-height: 1.2;
		color: white;
		margin-top: -20px;
	}
}

.section-description {
	p {
		font-size: 42px;
	}
}