.content-home {
	position: relative;
	background-color: white;
	#text-particle {
		width: 100%;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		z-index: 2;
	}
	.text-particle {
		max-width: 220px;
		margin: 0 auto;
	}
	.ch__slogan {
		width: 100%;
		text-align: center;
		pointer-events: none;
		position: absolute;
		z-index: 1;
		left: 0;
		top: 50%;
		h4 {
			color: #707070;
		}
		h2,
		h4 {
			font-family: map-get($font, sub);
			text-transform: uppercase;
			font-weight: 400;
		}
	}
}

@media (min-width: 768px) {
	.content-home {
		.ch__slogan {
			h2 {
				font-size: 50px;
			}
			h4 {
				font-size: 20px;
			}
		}
	}
}
@media (min-width: 1025px) {
	.content-home {
		background-color: transparent;
		#text-particle {
			height: 100vh;
		}
		.ch__slogan {
			h2 {
				font-size: 80px;
				letter-spacing: 15px;
				margin-bottom: 15px;
			}

			h4 {
				font-size: 25px;
				letter-spacing: 2px;
			}
		}
	}
}
