.fp-section-2 {
	.video {
		width: 100%;
	}

	.content {
		position: relative;
		margin-bottom: 10%;
	}

	@media (min-width: 1025px) {
		.section-description {
			position: absolute;
			left: 25%;
			top: 100%;

			p {
				color: rgba(white, .6);
			}
		}
	}

	@media (max-width: 1024.98px) {
		background-image: url('../assets/background_2.png');
		background-size: cover;
		background-position: center;
		padding: 40px 20px;

		.section-title {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateY(-50%);
		}

		.character-icon {
			width: 100%;
			max-width: 300px;
		}

		.content {
			margin-bottom: 0;

			.section-title {
				justify-content: center;
			}

			.section-description {
				text-align: center;
			}
		}
	}

	@media (max-width: 575.98px) {
		.character-icon {
			width: 100%;
			max-width: 190px;
		}
	}

	@media (max-width: 1024.98px) {
		position: relative;

		.content {
			margin-bottom: 0;
		}

		.section-description {
			position: static;
			left: unset;
			top: unset;

			p {
				color: #000000;
			}
		}

		p {
			color: map-get($mau, main);
		}
	}
}