.fp-section-3 {
	.video {
		width: 100%;
	}

	.section-title {
		h2 {
			color: map-get($mau, main);
		}
	}

	.section-description {
		p {
			color: #1C1C1C;
		}

		+.section-description {
			padding-left: 120px;
			margin-top: 15px;
		}
	}

	@media (max-width: 1024.98px) {
		background-image: url('../assets/background_3.png');
		background-size: cover;
		background-position: center;
		padding: 40px 20px;

		.col-lg-4 {
			order: 1;
		}

		.col-lg-7 {
			order: 2;
		}

		.character-icon {
			width: 100%;
			max-width: 300px;
		}

		.content {
			margin-bottom: 20px;
		}


		.section-title {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateY(-50%);
		}

		.section-description {
			padding-left: 0;
			text-align: center;

			+.section-description {
				padding-left: 0;
			}
		}
	}

	@media (max-width: 575.98px) {
		.character-icon {
			width: 100%;
			max-width: 190px;
		}
	}
}