.fp-section-4 {
	.video {
		width: 100%;
	}

	.container {
		padding-bottom: 50px;
	}

	.section-title {
		position: absolute;
		top: 40%;
		left: 80%;
	}

	.content {
		position: absolute;
		left: 0;
		bottom: 0;

		@media (max-width: 1199.98px) {
			left: 5%
		}
	}

	.section-description {
		p {
			color: #FFFFFF;
		}

		+.section-description {
			padding-left: 120px;
			margin-top: 15px;
		}
	}

	@media (max-width: 1024.98px) {
		background-image: url('../assets/background_4.png');
		background-size: cover;
		background-position: center;
		padding: 40px 20px;

		.character-icon {
			width: 100%;
			max-width: 300px;
		}

		.content {
			margin-bottom: 20px;
			position: static;
		}

		.section-title {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateY(-50%);
		}

		.section-description {
			padding-left: 0;
			text-align: center;

			+.section-description {
				padding-left: 0;
			}
		}
	}

	@media (max-width: 575.98px) {
		.character-icon {
			width: 100%;
			max-width: 190px;
		}
	}
}