.fp-section-5 {
	.video {
		width: 100%;
	}

	.section-title {

		h2,
		h3 {
			color: map-get($mau, main);
		}
	}

	@media (min-width: 1025px) {

		.content {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: -50px;

			.section-description {
				padding-left: 100px;
			}
		}

		.background-circle {
			background-image: url(../assets/background-circle.png);
			background-size: 100% 100%;
			display: flex;
			align-items: center;
		}
	}

	@media (max-width: 1024.98px) {
		background-image: url('../assets/background_5.png');
		background-size: cover;
		background-position: center;
		padding: 40px 20px;

		.character-icon {
			width: 100%;
			max-width: 300px;
		}

		.section-title {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateY(-50%);
		}

		.section-description {
			padding-left: 0;
			text-align: center;

			+.section-description {
				padding-left: 0;
			}
		}
	}

	@media (max-width: 575.98px) {
		.character-icon {
			width: 100%;
			max-width: 190px;
		}
	}
}