.our-serivce-2.pd-70
	.container
		.row.jc-c
			.col-lg-11.col-xl-10.os2__list
				.os2__item
					.item__img.wow.fadeInUp(data-ratio="1")
						img(src="./assets/services/os_2.png", alt="")
					.item__content
						.item__title.wow.fadeInLeft
							h3 Strategy
						.item__description.wow.fadeInLeft
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						.item__viewmore.wow.fadeInLeft
							a(href="/sv-strategy.html") 
								span Click here
								span
									img(src="./assets/icons/arrow_right_3.png")
								
				.os2__item
					.item__img.wow.fadeInUp(data-ratio="1")
						img(src="./assets/services/os_3.png", alt="")
					.item__content
						.item__title.wow.fadeInLeft
							h3 Creative
						.item__description.wow.fadeInLeft
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						.item__viewmore.wow.fadeInLeft
							a(href="/sv-creative.html")
								span Click here
								span
									img(src="./assets/icons/arrow_right_3.png")
				.os2__item
					.item__img.wow.fadeInUp(data-ratio="1")
						img(src="./assets/services/os_4.png", alt="")
					.item__content
						.item__title.wow.fadeInLeft
							h3 Media 
								br
								span Performance
						.item__description.wow.fadeInLeft
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						.item__viewmore.wow.fadeInLeft
							a(href="/sv-media-performance.html")
								span Click here
								span
									img(src="./assets/icons/arrow_right_3.png")
				.os2__item
					.item__img.wow.fadeInUp(data-ratio="1")
						img(src="./assets/services/os_3.png", alt="")
					.item__content
						.item__title.wow.fadeInLeft
							h3 Social 
								br
								span outreach
						.item__description.wow.fadeInLeft
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						.item__viewmore.wow.fadeInLeft
							a(href="/sv-social-outreach.html")
								span Click here
								span
									img(src="./assets/icons/arrow_right_3.png")