@import 'i-1';
@import 'i-2';
@import 'i-3';
@import 'i-4';
@import 'i-5';

.fp-layer-video-mask {
	mix-blend-mode: multiply;
	height: 100vh;
}

.fp-layer-background-color {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	.fp-layer-color {
		width: 100%;
		height: 100%;
		background-position: center;
		background-size: cover;
		opacity: 0;
		visibility: hidden;
		transition: all linear 1s;
		position: absolute;
		top: 0;
		left: 0;

		&.active {
			opacity: 1;
			visibility: visible;
		}
	}

	.fp-layer-strategy {
		background-image: url(../assets/index/bg_strategy.png);
	}

	.fp-layer-creative {
		background-image: url(../assets/index/bg_creative.png);
	}

	.fp-layer-media {
		background-image: url(../assets/index/bg_media.png);
	}

	.fp-layer-social {
		background-image: url(../assets/index/bg_social.png);
	}
}

.fp-layer-video {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	iframe,
	video {
		width: 100%;
		height: 100%;
	}
}

.fp-layer-text {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: white;
	@media (min-width: 1025px) {
		mix-blend-mode: screen;
	}

	.container {
		height: 100%;
	}

	.row {
		align-items: center;
		height: 100%;
	}
}

.letter {
	display: none;

	svg {
		width: 100%;
		height: 100%;
		position: relative;
		z-index: 2;

		path {
			stroke: rgba(map-get($mau, main), 0.75);
			stroke-width: 1px;
			stroke-dashoffset: 4560;
			stroke-dasharray: 4560;
			fill: transparent;
		}
	}

	&.letter-w {
		width: 40%;
		position: absolute;
		top: 50%;
		left: 0%;
		transform: translateY(-50%);
	}

	&.letter-o-1 {
		width: (400%/12);
		position: absolute;
		top: 50%;
		right: 16%;
		transform: translateY(-50%);
	}

	&.letter-o-2 {
		width: (400%/12);
		position: absolute;
		top: 50%;
		left: 33.333%;
		transform: translateY(-50%);
	}

	&.letter-m {
		width: (400%/12);
		position: absolute;
		top: 50%;
		left: 16%;
		transform: translateY(-50%);
		&:before {
			content: '';
			position: absolute;
			width: 110%;
			height: 110%;
			top: -5%;
			left: -5%;
			background-image: url('../assets/index/bg_circle.png');
			background-size: 100% 100%;
			background-repeat: no-repeat;
			background-position: center;
			z-index: 1;
		}
	}

	&.active {
		display: block;
		svg {
			path {
				animation: characterStroke 3s linear forwards,
					characterFill 1.25s 1.25s linear forwards;
			}
		}
	}
}

.fp-layer-particle-background {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	canvas {
		width: 100%;
		height: 100%;
	}
}

.fp-navigation {
	display: none;
}

@media (min-width: 1025px) {
	.fp-container {
		z-index: 1;
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	.fp-content {
		height: 100%;
		opacity: 0;
		visibility: hidden;
		transition: all 1s ease;
		position: absolute;
		top: 0;
		width: 100%;
		left: 0;
		z-index: 0;
		padding: 60px 0;

		.container,
		.row {
			height: 100%;
		}

		.section-title {
			transition: all 0.4s ease-in-out;
			transform: translateX(35px);
			opacity: 0;
		}

		.section-description {
			transition: all 0.4s ease-in-out;
			transform: translateX(35px);
			opacity: 0;
			transition-delay: 0.35s;

			+ .section-description {
				transition-delay: 0.7s;
			}
		}
		&.changeing {
			z-index: 2;
		}
		&.active {
			opacity: 1;
			z-index: 1;
			visibility: visible;
			.section-title {
				transition-delay: 0.5s;
				transform: translateX(0);
				opacity: 1;
			}
			.section-description {
				transition-delay: 1s;
				transform: translateX(0);
				opacity: 1;
			}
		}
	}

	.fp-navigation {
		display: block;
		position: fixed;
		bottom: 45px;
		right: 60px;
		z-index: 101;
		user-select: none;
		transition: all 0.3s ease;
		span {
			margin: 0 10px;
			cursor: pointer;
			&.disabled {
				opacity: 0.5;
				pointer-events: none;
			}
		}

		&.white {
			color: white;
		}
	}
}

.index-page {
	@media (min-width: 1025px) {
		footer {
			display: none;
		}
	}
}

.index-social {
	position: fixed;
	bottom: 45px;
	width: 100%;
	z-index: 100;
	p {
		position: relative;
		padding-right: 70px;
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			right: 0;
			width: 60px;
			height: 1px;
			background-color: black;
		}
	}
	a {
		+ a {
			margin-left: 35px;
		}
	}
}

#fp-next-2,
#next-section {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	bottom: 30px;
	z-index: 101;
	width: 68px;
	height: 70px;
	overflow: hidden;
	border-radius: 20px;
	cursor: pointer;
	transition: all 0.4s ease-in-out;

	svg {
		margin-top: -20px;

		path {
			stroke: black;
			stroke-width: 0.5px;
			fill: white;
		}

		.mouse-next-section {
			opacity: 0.75;
			animation: scrollDown 1.5s linear infinite forwards;
			transform-origin: 50% 50%;

			&.delay-1 {
				animation-delay: 0.75s;
			}
		}
	}
	&.disabled {
		display: none;
	}
}
