.content-home {
	position: relative;
	background-color: white;
	padding-top: 40px;
	padding-bottom: 40px;

	@keyframes dash {
		100% {
			stroke-dashoffset: 0;
		}
	}
	@keyframes dashReverse {
		0% {
			stroke-dashoffset: 0;
		}
		100% {
			stroke-dashoffset: -450;
		}
	}

	@keyframes textFill {
		0% {
			fill: rgba(map-get($mau, main), 0);
		}
		40% {
			fill: map-get($mau, main);
		}
		100% {
			fill: map-get($mau, main);
		}
	}

	#text-particle {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		z-index: 2;
		cursor: grab;
		.intro {
			width: 100%;
			.text {
				display: none;
				stroke-linecap: butt;
				stroke-linejoin: round;
			}
			.text-stroke {
				fill: none;
				stroke: darken(white, 15%);
				stroke-width: 6px;
				stroke-dashoffset: -100;
				stroke-dasharray: 900;
			}
			.text-stroke-2 {
				stroke: map-get($mau, main);
				animation-delay: 0.1s;
			}
			.text-stroke:nth-child(5) {
				animation-delay: 0.3s;
			}
			.text-stroke:nth-child(6) {
				animation-delay: 0.5s;
			}
			@media (min-width: 1025px) {
				width: 1000px;
			}
		}
		h1 {
			text-align: center;
			color: map-get($mau, main);
			width: 100%;
			text-transform: uppercase;
		}
		.content-particle-wrapper {
			@media (max-width: 1024.98px) {
				width: 100%;
			}
		}
	}
	.ch__slogan {
		width: 100%;
		text-align: center;
		pointer-events: none;
		position: absolute;
		z-index: 1;
		left: 0;
		top: 50%;
		h4 {
			color: #707070;
		}
		h2,
		h4 {
			font-family: map-get($font, sub);
			text-transform: uppercase;
			font-weight: 400;
		}
	}
	.background {
		position: absolute;
		opacity: 0.075;
		pointer-events: none;
		top: 73%;
		right: -23%;
		transform: translateY(-50%);
		svg {
			width: auto;
			height: 540px;
			path {
				stroke-width: 10px;
				stroke: map-get($mau, main);
			}
			@media (min-width: 1025px) {
				height: 780px;
			}
			@media (min-width: 1200px) {
				height: 900px;
			}
		}
	}
	&.active {
		#text-particle {
			.intro {
				.text {
					font-size: 20px;
					text-transform: uppercase;
					display: block;
					font-weight: 700;
				}
				.text-stroke {
					animation: dash 2s linear forwards;
				}
				&:hover {
					.text-stroke-2 {
						animation: dashReverse 3.5s linear forwards;
					}
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.content-home {
		.ch__slogan {
			h2 {
				font-size: 50px;
			}
			h4 {
				font-size: 20px;
			}
		}
	}
}
@media (min-width: 1025px) {
	.content-home {
		background-color: transparent;
		padding-top: 0px;
		padding-bottom: 0px;
		#text-particle {
			height: 100%;
		}
		.ch__slogan {
			h2 {
				font-size: 80px;
				letter-spacing: 15px;
				margin-bottom: 15px;
			}

			h4 {
				font-size: 25px;
				letter-spacing: 2px;
			}
		}
	}
}
