.content-home {
	position: relative;
	background-color: white;

	@keyframes dash {
		100% {
			stroke-dashoffset: 0;
		}
	}

	@keyframes textFill {
		0% {
			fill: rgba(map-get($mau, main), 0);
		}
		40% {
			fill: map-get($mau, main);
		}
		100% {
			fill: map-get($mau, main);
		}
	}

	#text-particle {
		width: 100%;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		z-index: 2;
		.path {
			fill: rgba(map-get($mau, main), 1);
			stroke: map-get($mau, main);
			stroke-width: 1px;
			stroke-dashoffset: 1340;
			stroke-dasharray: 1340;
			stroke-linecap: butt;
			stroke-linejoin: round;
			transition: all 0.3s ease-out;
		}
		.path-1 {
			&.pathed {
				animation: dash 1.5s linear forwards, textFill 5s linear;
			}
		}
		.path-2 {
			&.pathed {
				animation: dash 1.5s linear forwards, textFill 3.5s linear;
			}
		}
		svg {
			&:hover {
				transform: scale(1.01);
				transform-origin: 50% 50%;
				.path.pathed {
					animation: none;
				}
			}
		}
	}
	.text-particle {
		max-width: 220px;
		margin: 0 auto;
	}
	.ch__slogan {
		width: 100%;
		text-align: center;
		pointer-events: none;
		position: absolute;
		z-index: 1;
		left: 0;
		top: 50%;
		h4 {
			color: #707070;
		}
		h2,
		h4 {
			font-family: map-get($font, sub);
			text-transform: uppercase;
			font-weight: 400;
		}
	}
}

@media (min-width: 768px) {
	.content-home {
		.ch__slogan {
			h2 {
				font-size: 50px;
			}
			h4 {
				font-size: 20px;
			}
		}
	}
}
@media (min-width: 1025px) {
	.content-home {
		background-color: transparent;
		#text-particle {
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.ch__slogan {
			h2 {
				font-size: 80px;
				letter-spacing: 15px;
				margin-bottom: 15px;
			}

			h4 {
				font-size: 25px;
				letter-spacing: 2px;
			}
		}
	}
}
