.our-service-1.analysis-1(data-header="white")
	.container
		.row.jc-c.ai-c
			.content.col-auto
				.text
					.section-title.wow.fadeInLeft
						h2 ANALYSIS
					.section-description.wow.fadeInLeft
						p Lorem Ipsum is simply 
							br
							| dummy text of the 
							br
							| print industry.
				.img
					img.wow.fadeInRight(src="./assets/analysis/a_1.png", alt="")