.analysis-2.pd-70
	.container
		.row.jc-c
			.col-12.analysis2__items
				.os2__item.analysis2__item
					.col-lg-10.col-xl-8.d-f
						.item__img.wow.fadeInLeft(data-ratio="1")
							img(src="./assets/analysis/a_2.png", alt="")
						.item__content
							.item__title.wow.fadeInRight
								h3 Research
									br
									sup & 
									| Insight
							.item__description.wow.fadeInRight
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
							.item__viewmore.wow.fadeInRight
								a(href="http://web1.web4gsolutions.com/woo-html//research-insight.html") 
									span For more
									span
										img(src="./assets/icons/arrow_right_3.png")
								
				.os2__item.analysis2__item
					.col-lg-10.col-xl-8.d-f
						.item__img.wow.fadeInLeft(data-ratio="1")
							img(src="./assets/analysis/a_3.png", alt="")
						.item__content
							.item__title.wow.fadeInRight
								h3 
									span Viral video
									br
									sup &
									| TVC
							.item__description.wow.fadeInRight
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
							.item__viewmore.wow.fadeInRight
								a(href="http://web1.web4gsolutions.com/woo-html//viral-video.html")
									span For more
									span
										img(src="./assets/icons/arrow_right_3.png")
				.os2__item.analysis2__item
					.col-lg-10.col-xl-8.d-f
						.item__img.wow.fadeInLeft(data-ratio="1")
							img(src="./assets/analysis/a_4.png", alt="")
						.item__content
							.item__title.wow.fadeInRight
								h3 Marketing 
									br
									| Trends
							.item__description.wow.fadeInRight
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
							.item__viewmore.wow.fadeInRight
								a(href="http://web1.web4gsolutions.com/woo-html//marketing-trends.html")
									span For more
									span
										img(src="./assets/icons/arrow_right_3.png")