extends _components/_layout/_layout.pug

block var
	- let title = 'Index';
	- let bodyClass = 'index-page';

block banner,breadcrumb
block main
	.widget-container.desktop
		.container
			.widget-wrapper.widget-left
				p Follow us
				nav
					a(href="#")
						img.svg(data-src="./assets/icons/pinterest.svg")
					a(href="#")
						img.svg(data-src="./assets/icons/facebook.svg")
					a(href="#")
						img.svg(data-src="./assets/icons/twitter.svg")
			.widget-right
	.canvas-background.img-particle
		#particles-js
		canvas.canvas-wrapper#canvas-wrapper.desktop
		.canvas-img.mobile
			img.svg(data-src="./assets/woo.svg", alt="", srcset="")
	.fp-container
		.fp-wrapper
			include _components/index/i-1
			include _components/index/i-2
			include _components/index/i-3
			include _components/index/i-4
			include _components/index/i-5