@import 's-1.scss';
@import 's-2.scss';
@import 's-3.scss';

.strategy-page {
	background-image: url('../assets/strategy/stg_bg.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
