.strategy-2.pd-70
	.container
		.section-title.jc-c.wow.fadeInUp
			h2 What 
				br
				span we 
				| have
		.stg2__content.clearfix
			.row
				.col-md-6.wow.fadeInUp
					.stg2__item
						h3.item__title Influencer - PR
						p.item__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				.col-md-6.wow.fadeInUp
					.stg2__item
						h3.item__title Media booking
						p.item__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.