section.fp-content.content-home(fp-title="Woo" data-header="black")
	#text-particle.ov-h
	//- .text-particle.mobile
	//- 	img(src="./assets/woo-image.png", alt="")
	.ch__slogan
		h2#slogan-1(style="opacity: 0;") Media
		h4#slogan-2(style="opacity: 0;") MASTER THE MARKET WITH CREATIVE
		//- h2#slogan-1 Media
		//- h4#slogan-2 MASTER THE MARKET WITH CREATIVE