section.fp-content.content-strategy(fp-title="Strategy")
    .container
        .row.ai-c
            .col-lg-7.ml-at
                .section-title.desktop
                    h2 Strategy
                .section-description
                    p Marketing Strategy
                    p Market / Consumer Research