section.fp-content.content-strategy(fp-title="Strategy" data-header="white")
	.container
		.row.ai-c
			.col-lg-5.mobile
				.img.wow.fadeInUp
					img(src="./assets/index/w.png", alt="")
			.col-lg-7.ml-at
				.content-wrapper
					.section-title.wow.fadeInLeft
						h2 Strategy
					.section-description.wow.fadeInRight
						p Marketing Strategy
						p Market / Consumer Research