section.fp-content.content-media(fp-title="Media") 
	.container
		.row
			.col-lg-6.col-left
				.section-description
					p Affiliate marketing SEM, Display, Social ads,..
					p Conversion rate optimization Programmatic – DSP/ SSP
			.col-lg-6.col-right
				.section-title.desktop
					h2 Media
					h3 Performance