@media (max-width: 1024.98px) {
	main {
		padding-top: 102px;
	}
}

.blur-up {
	filter: blur(10px);
	transition: filter 1s;

	&.lazy-loaded {
		filter: blur(0);
	}
}

.character-w {
	mask-image: url(/assets/background-w.png);
	mask-position: center;
	mask-size: 100% 100%;
	object-fit: cover;
}

.character-o {
	mask-image: url(/assets/background-o.png);
	mask-position: center;
	mask-size: 100% 100%;
	object-fit: cover;
}

.character-m {
	mask-image: url(/assets/background-m.png);
	mask-position: center;
	mask-size: 100% 100%;
	object-fit: cover;
}

.widget-container {
	position: fixed;
	bottom: 0;
	padding-bottom: 60px;
	width: 100%;
	z-index: 101;

	.widget-wrapper {
		display: flex;

		P {
			position: relative;

			&:before {
				position: absolute;
				content: '';
				width: 60px;
				height: 1px;
				background-color: black;
				top: 50%;
				left: 100%;
				margin-left: 15px;
				transform: translateY(-50%);
			}
		}

		nav {
			padding-left: 90px;

			a {
				+a {
					margin-left: 35px;
				}
			}
		}
	}
}

.img-canvas {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;

	*:not(canvas) {
		opacity: 0;
		display: none;
	}

	canvas {
		border-radius: 50%;
		background-color: map-get($mau, main);
		// width        : 29px;
		// height       : 29px;
	}
}