.strategy-3.creative-3
	.stg3__block-1.pd-70(data-scroll="scroll-3")
		.container-fluid
			//- .section-title
			//- 	h2 Procedure
			.sb3__img.wow.fadeInUp
				img(src="./assets/strategy/stg_2.png", alt="")
		.container
			.stg3__content
				.row.stg3__item.jc-c.creative3__item.wow.fadeInUp
					.col-12.col-md-10.col-lg-12
						.item__title
							h3 
								span create 
								br
								b concept 
								br
								span big 
								| idead
					.col-12
					.col-md-10.item__content
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis debitis et commodi voluptates illum vero tenetur sapiente rerum nam id, veniam distinctio qui, doloremque totam alias quae molestiae dolorum reprehenderit.
						p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae recusandae reiciendis sint aut inventore, quasi, harum dolorem magni numquam, ut laborum fugiat velit ab modi voluptatum nemo cumque soluta dolores.
				.row.stg3__item.jc-c.creative3__item.wow.fadeInUp
					.col-12.col-md-10.col-lg-12
						.item__title
							h3 content 
								br
								span marketing
					.col-12
					.col-md-10.item__content
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis debitis et commodi voluptates illum vero tenetur sapiente rerum nam id, veniam distinctio qui, doloremque totam alias quae molestiae dolorum reprehenderit.
						p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae recusandae reiciendis sint aut inventore, quasi, harum dolorem magni numquam, ut laborum fugiat velit ab modi voluptatum nemo cumque soluta dolores.
	.stg3__block-2.pd-70(data-scroll="scroll-4")
		.container
			.stg3__content
				.block2__img.desktop(data-ratio=1)
					img(src="./assets/strategy/stg_3.png", alt="")
				.stg3__block2--list
					.row.stg3__item.jc-c.creative3__item
						.col-12.col-md-10.col-lg-12
							.item__title.wow.fadeInUp
								h3 
								
									span Viral 
									| video 
									br
									span TVC 
									| script
						.col-12
						.col-md-10.item__content.wow.fadeInUp
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis debitis et commodi voluptates illum vero tenetur sapiente rerum nam id, veniam distinctio qui, doloremque totam alias quae molestiae dolorum reprehenderit.
							p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae recusandae reiciendis sint aut inventore, quasi, harum dolorem magni numquam, ut laborum fugiat velit ab modi voluptatum nemo cumque soluta dolores.
					.row.stg3__item.jc-c.creative3__item
						.col-12.col-md-10.col-lg-12
							.item__title.wow.fadeInUp
								h3 Website 
									br
									span &amp; 
									span creative, 
										br
										| production
						.col-12
						.col-md-10.item__content.wow.fadeInUp
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis debitis et commodi voluptates illum vero tenetur sapiente rerum nam id, veniam distinctio qui, doloremque totam alias quae molestiae dolorum reprehenderit.
							p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae recusandae reiciendis sint aut inventore, quasi, harum dolorem magni numquam, ut laborum fugiat velit ab modi voluptatum nemo cumque soluta dolores.