.about-1(data-header="white")
	.container
		.row.jc-c.ai-c
			.content.col-auto
				.img.wow.fadeInUp.d-n
					img(src="./assets/about/a_1.png", alt="")
				.text
					.section-title
						h2.wow.fadeInRight AboutUS
					.section-description.wow.fadeInLeft
						p Create concept / big idea
						p Content Marketing
	//- .ab1__circle
	//- 	img(src="./assets/about/ac_1.png", alt="")