.about-2.pd-70(data-scroll="about-2")
	.container
		.row.ai-c
			.col-lg-6
				.mobile.ab2__title.section-title
					h2.wow.fadeInLeft
						span Hard 
						br
						| working 
						br
						span show
				.mobile.ab2__img.wow.fadeInUp
					img(src="./assets/about/a_2.png", alt="")
			.col-lg-6
				.row
					.ab2__item.col-sm-4.col-lg-12.wow.fadeInLeft
						h3.item__title Lorem ipsum
						p.item__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ipsum eos unde eaque rem ratione error perspiciatis nemo quos esse qui, possimus hic, dolore fuga officia tempore, asperiores temporibus quo?
					.ab2__item.col-sm-4.col-lg-12.wow.fadeInUp
						h3.item__title Lorem ipsum
						p.item__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ipsum eos unde eaque rem ratione error perspiciatis nemo quos esse qui, possimus hic, dolore fuga officia tempore, asperiores temporibus quo?
					.ab2__item.col-sm-4.col-lg-12.wow.fadeInRight
						h3.item__title Lorem ipsum
						p.item__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ipsum eos unde eaque rem ratione error perspiciatis nemo quos esse qui, possimus hic, dolore fuga officia tempore, asperiores temporibus quo?
