.about-3.pd-70
	.container-fluid
		.section-title.wow.fadeInUp
			h2 Processing
		.ab3__img.ab3__img--1.wow.fadeInUp
			img(src="./assets/about/a_3.png", alt="")
	.container
		.row.ab3__item
			.col-md-9.col-lg-7.item__col.wow.fadeInLeft
				.item__number
					span 01
				.item__content
					h3.item__title Lorem ipsum
					p.item__description Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi tempore minus tenetur possimus. Pariatur accusantium eveniet rerum consectetur necessitatibus fuga, commodi harum dignissimos ipsam veniam placeat blanditiis excepturi? Delectus, error?
		.row.ab3__item
			.col-md-9.col-lg-7.item__col.wow.fadeInDown
				.item__number
					span 02
				.item__content
					h3.item__title Lorem ipsum
					p.item__description Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi tempore minus tenetur possimus. Pariatur accusantium eveniet rerum consectetur necessitatibus fuga, commodi harum dignissimos ipsam veniam placeat blanditiis excepturi? Delectus, error?
		.row.ab3__item
			.col-md-9.col-lg-7.item__col.wow.fadeInRight
				.item__number
					span 03
				.item__content
					h3.item__title Lorem ipsum
					p.item__description Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi tempore minus tenetur possimus. Pariatur accusantium eveniet rerum consectetur necessitatibus fuga, commodi harum dignissimos ipsam veniam placeat blanditiis excepturi? Delectus, error?
		.row.ab3__item
			.col-md-9.col-lg-7.item__col.wow.fadeInUp
				.item__number
					span 04
				.item__content
					h3.item__title Lorem ipsum
					p.item__description Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi tempore minus tenetur possimus. Pariatur accusantium eveniet rerum consectetur necessitatibus fuga, commodi harum dignissimos ipsam veniam placeat blanditiis excepturi? , error?
		.row.ab3__item
			.col-md-9.col-lg-7.item__col.wow.fadeInLeft
				.item__number
					span 05
				.item__content
					h3.item__title Lorem ipsum
					p.item__description Lorem ipsum, dolor sit amet consectetur adipisicindescriptiong elit. Sequi tempore minus tenetur possimus. Pariatur accusantium eveniet rerum consectetur necessitatibus fuga, commodi harum dignissimos ipsam veniam placeat blanditiis excepturi? Delectus, error?