.about-4.pd-70
	.container
		.section-title.jc-c.wow.fadeInUp
			h2 
				span Our 
				br
				| team
		.row
			.col-md-6.col-lg-10.col-xl-8.ab4__item
				.item__img(data-ratio='1').fadeInLeft.wow
					img(src="./assets/about/a_5.png", alt="")
				.item__content.fadeInRight.wow
					h3.item__title Design Team
					p.item__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						br
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			.col-md-6.col-lg-10.col-xl-8.ab4__item
				.item__img(data-ratio='1').wow.fadeInRight
					img(src="./assets/about/a_6.png", alt="")
				.item__content.wow.fadeInLeft
					h3.item__title Marketing 
						br
						| research 
						span and 
						br
						| planning team
					p.item__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						br
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			.col-md-6.col-lg-10.col-xl-8.ab4__item
				.item__img(data-ratio='1').wow.fadeInLeft
					img(src="./assets/about/a_7.png", alt="")
				.item__content.wow.fadeInRight
					h3.item__title Creative 
						br
						| thinking team
					p.item__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						br
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			.col-md-6.col-lg-10.col-xl-8.ab4__item
				.item__img(data-ratio='1').wow.fadeInRight
					img(src="./assets/about/a_8.png", alt="")
				.item__content.wow.fadeInLeft
					h3.item__title Customer 
						br 
						| services team
					p.item__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						br
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.