.about-6.pd-70(data-scroll="about-6")
	.container
		.row.jc-c
			.col-lg-11.col-xl-10.ab6__category
				.ab6__title.wow.fadeInUp
					h3 Inventory
				.ab6__list
					.swiper-prev
						span.lnr.lnr-chevron-left
					.swiper-next
						span.lnr.lnr-chevron-right
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								a.fcc(href="#")
									img(src="./assets/about/a_i_1.png", alt="")
							.swiper-slide
								a.fcc(href="#")
									img(src="./assets/about/a_i_2.png", alt="")
							.swiper-slide
								a.fcc(href="#")
									img(src="./assets/about/a_i_3.png", alt="")
							.swiper-slide
								a.fcc(href="#")
									img(src="./assets/about/a_i_4.png", alt="")
							.swiper-slide
								a.fcc(href="#")
									img(src="./assets/about/a_i_5.png", alt="")
							.swiper-slide
								a.fcc(href="#")
									img(src="./assets/about/a_i_2.png", alt="")
			.col-lg-11.col-xl-10.ab6__category
				.ab6__title.wow.fadeInUp
					h3 Agency
				.ab6__list
					.swiper-prev
						span.lnr.lnr-chevron-left
					.swiper-next
						span.lnr.lnr-chevron-right
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								a.fcc(href="#")
									img(src="./assets/about/a_i_1.png", alt="")
							.swiper-slide
								a.fcc(href="#")
									img(src="./assets/about/a_i_2.png", alt="")
							.swiper-slide
								a.fcc(href="#")
									img(src="./assets/about/a_i_3.png", alt="")
							.swiper-slide
								a.fcc(href="#")
									img(src="./assets/about/a_i_4.png", alt="")
							.swiper-slide
								a.fcc(href="#")
									img(src="./assets/about/a_i_5.png", alt="")
							.swiper-slide
								a.fcc(href="#")
									img(src="./assets/about/a_i_2.png", alt="")
			.col-lg-11.col-xl-10.ab6__category
				.ab6__title.wow.fadeInUp
					h3 Clients
				.ab6__list
					.swiper-prev
						span.lnr.lnr-chevron-left
					.swiper-next
						span.lnr.lnr-chevron-right
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								a.fcc(href="#")
									img(src="./assets/about/a_i_1.png", alt="")
							.swiper-slide
								a.fcc(href="#")
									img(src="./assets/about/a_i_2.png", alt="")
							.swiper-slide
								a.fcc(href="#")
									img(src="./assets/about/a_i_3.png", alt="")
							.swiper-slide
								a.fcc(href="#")
									img(src="./assets/about/a_i_4.png", alt="")
							.swiper-slide
								a.fcc(href="#")
									img(src="./assets/about/a_i_5.png", alt="")
							.swiper-slide
								a.fcc(href="#")
									img(src="./assets/about/a_i_2.png", alt="")
			.col-lg-11.col-xl-10.col-title
				.section-title.wow.fadeInUp
					h2 
						span Our 
						| clients 
						br
						| &nbsp;&nbsp;&nbsp; &partners