.about-6.pd-70
	.container
		.row.jc-c
			.col-lg-11.col-xl-10.ab6__category
				.ab6__title.wow.fadeInUp
					h3 Inventory
				.ab6__list.row.wow.fadeInUp
					.ab6__item.col-2xl-2.col-md-20.col-md-3.col-sm-3.col-4
						a.fcc(href="#")
							img(src="./assets/about/a_i_1.png", alt="")
					.ab6__item.col-2xl-2.col-md-20.col-md-3.col-sm-3.col-4
						a.fcc(href="#")
							img(src="./assets/about/a_i_2.png", alt="")
					.ab6__item.col-2xl-2.col-md-20.col-md-3.col-sm-3.col-4
						a.fcc(href="#")
							img(src="./assets/about/a_i_3.png", alt="")
					.ab6__item.col-2xl-2.col-md-20.col-md-3.col-sm-3.col-4
						a.fcc(href="#")
							img(src="./assets/about/a_i_4.png", alt="")
					.ab6__item.col-2xl-2.col-md-20.col-md-3.col-sm-3.col-4
						a.fcc(href="#")
							img(src="./assets/about/a_i_5.png", alt="")
					.ab6__item.col-2xl-2.col-md-20.col-md-3.col-sm-3.col-4
						a.fcc(href="#")
							img(src="./assets/about/a_i_2.png", alt="")
			.col-lg-11.col-xl-10.ab6__category
				.ab6__title.wow.fadeInUp
					h3 Agency
				.ab6__list.row.wow.fadeInUp
					.ab6__item.col-2xl-2.col-md-20.col-md-3.col-sm-3.col-4
						a.fcc(href="#")
							img(src="./assets/about/a_i_1.png", alt="")
					.ab6__item.col-2xl-2.col-md-20.col-md-3.col-sm-3.col-4
						a.fcc(href="#")
							img(src="./assets/about/a_i_2.png", alt="")
					.ab6__item.col-2xl-2.col-md-20.col-md-3.col-sm-3.col-4
						a.fcc(href="#")
							img(src="./assets/about/a_i_3.png", alt="")
					.ab6__item.col-2xl-2.col-md-20.col-md-3.col-sm-3.col-4
						a.fcc(href="#")
							img(src="./assets/about/a_i_4.png", alt="")
					.ab6__item.col-2xl-2.col-md-20.col-md-3.col-sm-3.col-4
						a.fcc(href="#")
							img(src="./assets/about/a_i_5.png", alt="")
					.ab6__item.col-2xl-2.col-md-20.col-md-3.col-sm-3.col-4
						a.fcc(href="#")
							img(src="./assets/about/a_i_2.png", alt="")
			.col-lg-11.col-xl-10.ab6__category
				.ab6__title.wow.fadeInUp
					h3 Clients
				.ab6__list.row.wow.fadeInUp
					.ab6__item.col-2xl-2.col-md-20.col-md-3.col-sm-3.col-4
						a.fcc(href="#")
							img(src="./assets/about/a_i_1.png", alt="")
					.ab6__item.col-2xl-2.col-md-20.col-md-3.col-sm-3.col-4
						a.fcc(href="#")
							img(src="./assets/about/a_i_2.png", alt="")
					.ab6__item.col-2xl-2.col-md-20.col-md-3.col-sm-3.col-4
						a.fcc(href="#")
							img(src="./assets/about/a_i_3.png", alt="")
					.ab6__item.col-2xl-2.col-md-20.col-md-3.col-sm-3.col-4
						a.fcc(href="#")
							img(src="./assets/about/a_i_4.png", alt="")
					.ab6__item.col-2xl-2.col-md-20.col-md-3.col-sm-3.col-4
						a.fcc(href="#")
							img(src="./assets/about/a_i_5.png", alt="")
					.ab6__item.col-2xl-2.col-md-20.col-md-3.col-sm-3.col-4
						a.fcc(href="#")
							img(src="./assets/about/a_i_2.png", alt="")
			.col-lg-11.col-xl-10.col-title
				.section-title.wow.fadeInUp
					h2 
						span Our 
						| clients 
						br
						| &nbsp;&nbsp;&nbsp; &partners