
section.fp-section.fp-section-1(fp-title="Home" fp-background="rgba(255,255,255,1)")
	.woo-index
		.container
			.row.ai-c.jc-c
				.col-lg-auto.ta-c
					.img
						img.svg(data-src="./assets/woo.svg", alt="")
					.slogan
						h1 Creative thingking - Master market