
section.fp-section.fp-section-2(fp-title="Strategy" fp-background="rgba(241, 102, 127,.5)")
	.woo-index
		.container
			.row.ai-c
				.col-lg-4.col-md-7.col-2xl-5
					.character-icon
						video.character-w.video(autoplay muted loop)
							source(src="./assets/videos/video_1.mp4")
				.col-lg-8.col-md-5.col-2xl-7
					.content
						.section-title
							h2 Strategy
						.section-description
							p Marketing Strategy
							p Market / Consumer Research