section.fp-section.fp-section-2(fp-title="Strategy" fp-background="url(assets/background_2.png)")
	.woo-index
		.container
			.row.ai-c.jc-c
				.col-lg-4.col-2xl-5
					.character-icon
						video.character-w.video(autoplay muted loop)
							source(src="./assets/videos/video_1.mp4")
					.section-title.mobile
						h2 Strategy
				.col-lg-7.col-2xl-7
					.content
						.section-title.desktop
							h2 Strategy
						.section-description
							p Marketing Strategy
							p Market / Consumer Research