section.fp-section.fp-section-3(fp-title="Creative" fp-background="url(assets/background_3.png)")
	.woo-index
		.container
			.row.ai-c.jc-c
				.col-lg-7.col-2xl-7
					.content
						.section-title.desktop
							h2 Creative
						.section-description
							p Create concept / big idea
							p Content Marketing
						.section-description
							p Viral video / TVC scrip
							p Website creative & Production
				.col-lg-4
					.character-icon
						video.character-o.video(autoplay muted loop)
							source(src="./assets/videos/video_1.mp4")
					.section-title.mobile
						h2 Creative