section.fp-section.fp-section-4(fp-title="Media" fp-background="url(assets/background_4.png)")
	.woo-index
		.container
			.row.ai-c.jc-c
				.col-lg-1.col-2xl-1
				.col-lg-4
					.character-icon
						video.character-o.video(autoplay muted loop)
							source(src="./assets/videos/video_1.mp4")
					.section-title
						h2 Media
						h3 Performance
			.content
				.section-description
					p Affiliate marketing
					p SEM, Display, Social ads,..
				.section-description
					p Conversion rate optimization
					p Programmatic – DSP/ SSP