section.fp-section.fp-section-5(fp-title="Social" fp-background="url(assets/background_5.png)")
	.woo-index
		.container
			.row.ai-c
				.col-lg-2
				.col-lg-4.col-2xl-5
					.background-circle
						.character-icon
							video.character-m.video(autoplay muted loop)
								source(src="./assets/videos/video_1.mp4")
						.section-title.mobile
							h2 Social
							h3 Outreach
				.col-lg-auto
					.content
						.section-title.desktop
							h2 Social
							h3 Outreach
						.section-description
							p Social Media
							p Influencer -  PR
							p Media booking